{
  email jeremy@3tched.com
  acme_ca https://acme-v02.api.letsencrypt.org/directory

  api.3tched.com {
    reverse_proxy netmaker:8081
  }

  broker.3tched.com {
    reverse_proxy mq:1883
  }

  :443 {
    reverse_proxy netmaker-ui:80
  }

  :80 {
    redir https://{host}{uri}
  }
}
