OP_ZEROCLAW_DISCOVERY=1
OP_ZEROCLAW_SOURCES_DIR=/run/op-dbus/zeroclaw/notebooklm-sources.d
OP_WORK_DIR=/var/lib/op-dbus/cli-notebook-logger
OP_SYNC_INTERVAL_SECONDS=120
OP_MAX_BYTES=8000000
OP_RCLONE_BIN=rclone
OP_RCLONE_ARGS=
