# ovsbr0 is created by netplan/openvswitch.
# systemd-networkd only applies the host-side control-plane address here.
[Match]
Name=ovsbr0

[Link]
ActivationPolicy=up
RequiredForOnline=no

[Network]
Address=148.113.204.83/32
LinkLocalAddressing=no
LLMNR=no
MulticastDNS=no
IPv6AcceptRA=no
ConfigureWithoutCarrier=yes
KeepConfiguration=static
