## Mutable-lowest-precedence bootstrap. EMQX may write runtime changes to
## /var/lib/emqx/configs/cluster.hocon; the immutable listener/auth policy in
## emqx.conf remains authoritative.

log.console.level = info
log.file.enable = false

exhook.servers = [
  {
    name = opdbus
    url = "https://127.0.0.1:9000"
    enable = true
    request_timeout = 5s
    failed_action = ignore
    auto_reconnect = 5s
    pool_size = 4
    ssl {
      enable = true
      verify = verify_peer
      cacertfile = "/etc/emqx/certs/opdbus-ca.crt"
      certfile = "/etc/emqx/certs/emqx-exhook-client.crt"
      keyfile = "/etc/emqx/certs/emqx-exhook-client.key"
    }
    socket_options {
      keepalive = true
      nodelay = true
    }
  }
]
